body {
    background-image: url("../Image/pole.jpg");
}
.center{
    margin: 0 auto;
    width: 820px;
    height: 600px;
    position: absolute;
    left: 29%;
    top: 23%;
    background-color: aqua;
}
.text{
  position: absolute;
  color: white;
  font-family: Plumb, 'Comic Sans MS';
  letter-spacing: 3px;
  font-size: 15px;
  z-index: 2;  
}
.creditText{
  left: 20px;
  top: 20px; 
}
.creditText2{
  left: 230px;
  top: 130px; 
}
.cardText{ 
  right: 250px;
  top: 110px; 
}
.cardText2{ 
  right: 30px;
  top: 220px; 
}

.clientText{ 
  left: 30px;
  bottom: 35px;
  letter-spacing: 5px;
  
}

.activeClientText{ 
  right: 30px;
  bottom: 70px; 
  letter-spacing: 4px;
}
.credit{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.card{    
    position: absolute;
    right: 0;
    top: 85px;
    z-index: 1;
}

.client{   
    position: absolute;
    left: 12px;
    bottom: 25px;
    z-index: 1;
    
}
.activeClient{    
    position: absolute;
    right: 22px;
    bottom: 55px;
    z-index: 1;
}
.imgcredit{
     width: 400px;
    height: 200px; 
    z-index: 1;
}
.imgcard{
     width: 372px;
    height: 200px; 
    z-index: 1;
}
.imgclient{
     width: 190px;
    height: 80px; 
    z-index: 1;
}
.imgactive{
     width: 220px;
    height: 80px; 
    z-index: 1;
}

  @font-face {
    font-family: Plumb; /* Гарнитура шрифта */  
    src: local(plumb), url(../fonts/plumbcondensed-regular.ttf); /* Для остальных браузеров */
   }