@{
string[] fullfilesPath = Directory.GetFiles(@"D:\develop\LoadFile\App_Data\UploadedFiles\", "*.csv");  
var parser = new Microsoft.VisualBasic.FileIO.TextFieldParser(fullfilesPath[0]);


parser.TextFieldType = Microsoft.VisualBasic.FileIO.FieldType.Delimited;
parser.SetDelimiters(new string[] { ";" });
string[] row;
while (!parser.EndOfData)
{
    row = parser.ReadFields();
    /* do something */
}
var Description = row[0];
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <input name="Description" type="text" size="50"
           value="@Description" />
    </body>
</html>
